@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 16px 10%;
    align-items: center;
    text-align: center;
}
.logo {
    font-size: 1.8em;
    position: relative;
    user-select: none;
}
.h-btn {
    border-radius: 8px;
    background-color: #222;
    color: white;
    text-decoration: none;
    padding: 8px 24px;
    font-size: 1.2em;
    margin-left: 1em;
}
.under {
    position: relative;
}
.under::after {
    position: absolute;
    background-color: white;
    bottom: -0.6em;
    height: 2px;
    left: 0;
    width: 0;
    content: '';
    transition: all .2s ease-in-out;
}
.under:hover::after {
    width: 100%;
}

.nav-item {
    text-decoration: none;
    font-size: 1.2em;
    margin-left: 1em;
    color: black;
}
.main {
    overflow: hidden;
    align-items: center;
    position: relative;
    padding: 2em 10%;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    text-shadow: 0px 0px 8px #888888;
}
.about-1 {
    position: relative;
}
.about-1::before {
    content: '';
    background-image: url(src/main-visu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    z-index: -3;
    filter: blur(8px);
}
.hero {
    font-size: 2.5em;
    font-weight: 900;
    color: white;
}
.main p {
    color: white;
}
.about {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0.5em 0;
}
.about p {
    text-align: center;
    font: 1em sans-serif;
}
.ookime {
    font-size: 1.4em;
}
.default {
    font-size: 16px;
}
.sub-text {
    margin-top: 5em;
}
.about-2 {
    position: relative;
    margin-top: 1em;
    margin-bottom: 2em;
}
.about-2::before {
    content: '';
    background-image: url(src/key.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    z-index: -3;
    filter: blur(8px);
}
.editions {
    padding: 1em 10%;
    text-align: center;
}
.edition {
    overflow: hidden;
    align-items: center;
    margin-top: 1em;
    position: relative;
    padding: 5% 10%;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    color: #fff;
    text-shadow: 0px 0px 8px #333;
}
.ediname {
    font-size: 2.4em;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
}
.ubuntu::before {
    content: '';
    background-image: url(src/gnome.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    z-index: -3;
    filter: blur(0px);
    transition: all .3s ease-in-out;
}
.ubuntu:hover::before {
    filter: blur(8px);
    background-size: 110%;
}
.kde::before {
    content: '';
    background-image: url(src/kde.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    z-index: -3;
    filter: blur(0px);
    transition: all .3s ease-in-out;
}
.kde:hover::before {
    filter: blur(8px);
    background-size: 110%;
}
.xfce::before {
    content: '';
    background-image: url(src/xfce.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -3;
    filter: blur(0px);
    transition: all .3s ease-in-out;
}
.xfce:hover::before {
    filter: blur(8px);
    background-size: 120%;
}
.cinnamon::before {
    content: '';
    background-image: url(src/cinnamon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
    z-index: -3;
    filter: blur(0px);
    transition: all .3s ease-in-out;
}
.cinnamon:hover::before {
    filter: blur(8px);
    background-size: 110%;
}
.dl {
    border-radius: 8px;
    color: #fff;
    position: relative;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
}
